################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PeakForm/PeakForm/Resources/Raw/admin-sdk.json
